.htaccess

site/application/cache/*
!site/application/cache/index.html
!site/application/cache/.htaccess

site/application/logs/*
!site/application/logs/index.html
!site/application/logs/.htaccess

site/application/config/config.php
site/application/config/database.php
site/vendor/
site/.sass-cache
site/php.ini

vendor/

